//GLOBAL COLOURS
.dark-bg {
  background-color: #303030;
}

.grey-bg {
  background-color: #4c4c4c;
}

//DESCRIPTION
.description {
  height: auto;
  .container-pad {
    padding: 2em 0;
  }
  .overlay {
    h1 {
      display: inline-block;
      position: absolute;
      left: 0;
      right: 0;
      opacity: 0;
      top: -20px;
      color: white;
      letter-spacing: 3px;
      font-size: 20px;
      text-transform: uppercase;
    }
    >div {
      position: absolute;
      top: 36%;
      margin: 0 auto;
      border: 1px solid white;
      height: 70px;
      margin: 0 auto;
      opacity: 0;
      width: 200px;
    }
  }
  .third {
    width: 33.3%;
    float: left;
    padding: 1em;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    line-height: 1.5em;
    font-weight: 500;
    text-align: center;
    &:hover {
      .overlay {
        h1 {
          margin-bottom: 20px;
          top: 5px;
          bottom: 0;
          color: white;
          letter-spacing: 3px;
          transition: 2000;
          transition: -webkit-transform 2s;
          opacity: 1;
        }
        >div {
          transform: translateX(50%);
          transition: -webkit-transform 2s;
          opacity: 1;
        }
        &:before {
          position: absolute;
          height: 240px;
          width: 93%;
          opacity: 0.5;
          display: block;
          content: '';
          background-color: #fb9146;
        }
      }
    }
    img {
      height: 239px;
    }
    .text-box {
      width: 100%;
      padding: 1em;
      margin: -1em 0 0 0;
      font-weight: 700;
      letter-spacing: 0.2em;
      p {
        color: #ffffff;
        text-align: center;
        text-transform: uppercase;
        margin: 0;
        padding: 1em 0 0 0;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 3px;
      }
    }
    img {
      width: 100%;
    }
  }
}

//Icons
.icons-bg {
  background-color: #CCCCB8;
  padding: 15px 0 15px 0;
  .icons-holder {
    display: inline-block;
    width: 157px;
    margin: 0 auto;
    p {
      font-size: 90px;
      display: block;
      width: auto;
      text-align: center;
      padding: 30px 0 0 0;
    }
  }
  p {
    text-decoration: none;
    padding: 0 2em;
    width: 32%;
    display: inline-block;
    font-weight: bolder;
    font-size: 0.9em;
    margin: 0;
    padding: 1em 0 0 0;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 3px;
  }
}

.icons-desc {
  font-size: 14px;
  width: 43%;
  p {
    width: 73%;
    /* padding-left: 138px; */
    padding-top: 50px;
  }
}

.icon-container {
  display: inline-block;
  font-size: 120px;
  width: 32.9%;
  text-align: center;
}

//HERO
.hero {
  background-image: url(../images/whiskey-drop.jpg);
  height: 1257px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  .banner-text {
    font-family: 'Unica One', cursive;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    margin-bottom: 1em;
    
    left: 0;
    right: 0;
    top: 78%;
    p {
      width: 50%;
      margin: 0 auto;
      letter-spacing: .3em;
    }
  }
}

.list-software {
  padding: 40px;
  display: inline-block;
  img {
    width: 80%;
    float: left;
    padding: 0;
  }
  h1 {
    font-size: 30px;
    color: #fb9146;
    margin: 9px 0 10px 0;
    line-height: 29px;
  }
}
