<div class ="dark-bg">
<div class="row">
  <div class="col-md-3">
    <div class="foot_wrap"> Teeling Whiskey Distillery<br> 13-17 Newmarket<br> Dublin 8</div>
  </div>
  <div class="col-md-4">
    <div class="foot_wrap"> Open daily 9.30am – 5.30pm (last tour)<br> Phoenix Café – 7.30am – 5.30pm<br> Bank Holidays – normal opening hours</div>
  </div>
  <div class="col-md-2">
    <div class="foot_wrap"> <a href="https://www.facebook.com/teelingwhiskeydistillery" target="_blank">Facebook</a><br> <a href="https://twitter.com/TeelingWhiskey"
        target="_blank">Twitter</a><br> <a href="https://www.youtube.com/channel/UCjWfqSOieXlTzA0misXSbBQ" target="_blank">YouTube</a><br>      <a href="http://www.tripadvisor.ie/Attraction_Review-g186605-d7813498-Reviews-Teeling_Whiskey_Company-Dublin_County_Dublin.html"
        target="_blank">Trip Advisor</a><br> <a href="http://www.yelp.ie/biz/teeling-whiskey-distillery-dublin" target="_blank">Yelp</a></div>
  </div>
  <div class="col-md-3">
    <div class="foot_wrap"> Contact Us:<br> <a href="mailto:reservations@teelingwhiskey.com">reservations@teelingwhiskey.com</a><br>
   
    </div>
  </div>
</div>
</div>

