
<div class="header col-lg-12 dark-bg">

  <ul class="nav-contact">
	 
	 
  </ul>


  

  <div class="container" >
  
    <nav>

	
      <ul class="nav-left">

        <li>

          <a href="features.html">Products</a>

        </li>

        <li>

          <a href="">Info</a>

        </li>

        <li style="list-style: none"></li>

      </ul><a class="logo">Eposible</a>

      <ul class="nav-right">

        <li>

          <a href="">About</a>

        </li>

        <li>

          <a href="">Contact</a>

        </li>

      </ul>

    </nav>

  </div>

</div>

