//GENERAL STYLES
.right {
    float: right;

    p{
    	float: right;
    }
}
.left {
    float: left;
}
//GLOBAL COLOURS
.dark-bg {
    background-color: #303030;
}
.grey-bg {
    background-color: #4c4c4c;
}
.product-bg {
    background-color: #303030;
    height: 1300px;
    color:white;
    height: 1762px;
    p{
    	color: white;
    }
    img {
        padding: 50px;
        top: 8%;
    }
}
body {
    font-family: 'Raleway', sans-serif !important;
}
//HEADER
.header {
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 12px;
    .nav-contact {
        float: left;
        padding: 1.2em 0 1.4em 0;
        li: nth-child(1) {
            text-decoration: none;
            color: #ffffff;
            padding: 0 2em;
            font-weight: 800;
            font-size: 0.9em;
        }
        li:nth-child(3) {
            font-family: courier;
            font-size: 14px;
            color: orange;
        }
    }
    a.logo {
        text-decoration: none;
        color: #ffffff;
        padding: 0 2em;
        font-weight: 800;
        font-size: 1em;
        &:hover {
            color: #fb9146;
            cursor: pointer;
        }
    }
    nav {
        padding: 1.2em 0 1.4em 0;
        text-align: center;
    }
    .nav-left {
        float: left;
        text-align: left;
    }
    .nav-right {
        float: right;
        text-align: right;
    }
    ul {
        list-style: none;
        li {
            display: inline;
            color: white;
            a {
                text-decoration: none;
                color: #ffffff;
                padding: 0 2em;
                font-weight: 800;
                font-size: 0.9em;
                &:hover {
                    color: #fb9146;
                    cursor: pointer;
                }
            }
        }
    }
}

//DESCRIPTION
.description {
    height: auto;
    .container-pad {
        padding: 2em 0;
    }
    .overlay {
           
            h1{
            	display: inline-block;
    			position: absolute;
    			left: 0;
    			right: 0;
    			opacity: 0;
    			top: -20px;
    			color:white;
    			letter-spacing: 3px;
			    
			    font-size: 20px;
			    text-transform: uppercase;
            }
           
        >div {
            position: absolute;
            top: 36%;
            margin: 0 auto;
            border: 1px solid white;
            height: 70px;    
		    margin: 0 auto;
		    opacity: 0;
		    width:200px;
		    
    		
        }
    }
    .third {
        width: 33.3%;
        float: left;
        padding: 1em;
        position: relative;
        overflow: hidden;
        font-size: 14px;
        line-height: 1.5em;
        font-weight: 500;
        text-align: center;
        &:hover {
            .overlay {

            	h1{
            		
				    margin-bottom: 20px;
				    top: 5px;
				    bottom: 0;
				    color: white;
				    letter-spacing: 3px;
    
				    transition: 2000;
				    transition: -webkit-transform 2s;
				    opacity: 1;
            	}
            	> div{
            		transform: translateX(50%);
    				transition: -webkit-transform 2s;
            		opacity: 1;
            	}
            	&:before{
            		 position: absolute;
				     height: 240px;
				     width: 93%;
            		 opacity: 0.5;
            		 display:block;
            		 
            		 content:'';
            		 background-color: #fb9146;
            	}

               
            }
        }
        img {
            height: 239px;
        }
        .text-box {
            width: 100%;
            padding: 1em;
            margin: -1em 0 0 0;
            font-weight: 700;
            letter-spacing: 0.2em;
            p {
                color: #ffffff;
                text-align: center;
                text-transform: uppercase;
                margin: 0;
                padding: 1em 0 0 0;
                font-size: 14px;
                font-weight: 700;
                letter-spacing: 3px;
            }
        }
        img {
            width: 100%;
        }
    }
}
//Icons
.icons-bg {
    background-color: #CCCCB8;
    padding: 15px 0 15px 0;
    .icons-holder {
        display: inline-block;
        width: 157px;
        margin: 0 auto;
        p {
            font-size: 90px;
            display: block;
            width: auto;
            text-align: center;
            padding: 30px 0 0 0;
        }
    }
    p {
        text-decoration: none;
        padding: 0 2em;
        
        width: 32%;
        display: inline-block;
        font-weight: bolder;
        font-size: 0.9em;
        margin: 0;
        padding: 1em 0 0 0;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 3px;
    }
}
.icons-desc {
    font-size: 14px;
    width: 43%;
    p {
        width: 73%;
        /* padding-left: 138px; */
        
        padding-top: 50px;
    }
}
.icon-container {
    display: inline-block;
    font-size: 120px;
    width: 32.9%;
    text-align: center;
}
//HERO
.hero {
    background-image: url(../images/ipad-2.jpg);
    height: 1257px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    .banner-text {
        text-transform: uppercase;
        text-align: center;
        color: #ffffff;
        letter-spacing: .3em;
        margin-bottom: 1em;
        position: absolute;
        left: 0;
        right: 0;
        top: 38%;
    }
}

.list-software{
	padding: 40px;
	display: inline-block;
	
    img{
    	width: 80%;
        float: left;
        padding:0;
    }

    h1{
    	font-size: 30px;
	    color: #fb9146;
	    margin: 9px 0 10px 0;
	    line-height: 29px;
    }
}
.product-detail-purchase {
    display: inline-block;
        margin-top: 10%;
    width: 306px;
    float:left;
    h1 {
        font-size: 30px;
        color: #fb9146;
        margin: 9px 0 10px 0;
        line-height: 29px;

        span{
        	h1{
        		color: #CCCCB8;
        	}
        }
    }

    .style-number-title{
    	span{
    		color:#fb9146
    	}
    }
    .purchase-column .style-number-title {
        line-height: 22px;
        padding: 7px 0;
    }
    .product-buy-btn {
        box-sizing: border-box;
        font-family: Futura-400-normal, Helvetica, Arial, san-serif;
        font-style: normal;
        font-weight: 400;
        -webkit-border-radius: 0;
        background-color: transparent;
        border-style: solid;
        border-width: 2px;
        font-size: 12px;
        line-height: 12px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        text-transform: uppercase;
        background-color: #fb9146;
        border-color: #fb9146;
        color: #fff;
        cursor: pointer;
        display: block;
        margin: 6px auto;
        padding: 15px;
        width: 100%;
    }
    .price {
        h1 {
            border-bottom: 1px solid #c8c6c5;
            padding-bottom: 15px;
            color: white;
    font-family: monospace;
        }
    }
}

//FOOTER