<div class="header col-lg-12 dark-bg">

  <ul class="nav-contact">
	   <!--<alert type="success">hello</alert>-->
    <!--<button class="btn btn-primary" (click)="lgModal.show()"><li>Login</li>	</button>	-->
	 <button class="btn btn-primary" (click)="setWhiskeyName('jameson')">
		 <li>Login</li>	</button>	

  </ul>

  <div class="container" >
   
    <input [(ngModel)]="whiskeyName" />
	<input [(ngModel)]="currentUser.username" />
    <nav>
<p style="color:white" ngFor="let char of whiskeyName.split(''), let i = index"
  		[hidden] = "whiskeyName === 'Angular1' ">
  			{{ i }} - {{ char }}
			  {{currentUser.age}} years old. 
	</p>
	<button (click) ="incrementAge()"></button>
      <ul class="nav-left">

        <li>

          <a href="features.html">Products</a>

        </li>

        <li>

          <a href="">Info</a>

        </li>

        <li style="list-style: none"></li>

      </ul><a class="logo">Eposible</a>

      <ul class="nav-right">

        <li>

          <a href="">About</a>

        </li>

        <li>

          <a href="">Contact</a>

        </li>

      </ul>

    </nav>

  </div>

</div>

