//GLOBAL COLOURS
.dark-bg {
    background-color: #303030;
}

//HEADER

.header{
	background-image:url(./images/table-breakfast.jpg);

	.nav-left{
		ul{
			text-align: :left;
			float:left;
		}
	}
	ul{
		list-style: :none;
		li{
			display: inline;
		}
	}
}


//HERO



//FOOTER



