<div class="product-list">

  <div class="product">

    <img src="images/clontarf-whiskey.jpg">

    <h1> Oakenvale </h1>

    <h1> $23 </h1>

    <p>An Oak that grew on the bank of a river was uprooted by a severe gale of wind, and thrown across the stream.

    </p>

  </div>

  <div class="product">

    <img src="images/kilbeggan_whiskey.jpg">

    <h1> Wood Emerald </h1>

    <h1> $23 </h1>

    <p>An Oak that grew on the bank of a river was uprooted by a severe gale of wind, and thrown across the stream.

    </p>

  </div>

  <div class="product">

    <img src="images/Knappogue_Whiskey.jpg">

    <h1> Wood Emerald </h1>

    <h1> $23 </h1>

    <p>An Oak that grew on the bank of a river was uprooted by a severe gale of wind, and thrown across the stream

    </p>

  </div>

</div>

